<footer class="footer" style="left: 0; width: 100%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> ©Copyright MyRDP.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Made with <i class="mdi mdi-heart text-danger"></i> by MyRDP Developers
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>